body{
	background-color: skyblue;
}

p
{
color: blue;
background-color: white;
size: 2em;
}

h1
{
	color: red;
}

h2
{
	color: black;
}

.special
{
	background-color: lightgrey;
}
div
{
	background-color: blue;
	border: 2px;
	border-radius: 35px;
	height: 100px;
}